In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('heart.csv')
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [3]:
df.shape

(918, 12)

In [4]:
df.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [5]:
df['ChestPainType'].unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [6]:
df['RestingECG'].unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [7]:
df['ST_Slope'].unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [8]:
df['ExerciseAngina'].unique()

array(['N', 'Y'], dtype=object)

In [9]:
df[['ChestPainType','RestingECG','ST_Slope',"ExerciseAngina"]].nunique()

ChestPainType     4
RestingECG        3
ST_Slope          3
ExerciseAngina    2
dtype: int64

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [11]:
df.RestingECG = le.fit_transform(df['RestingECG'])
df.ST_Slope = le.fit_transform(df['ST_Slope'])
df.Sex = le.fit_transform(df['Sex'])
df.ExerciseAngina = le.fit_transform(df['ExerciseAngina'])
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,ATA,140,289,0,1,172,0,0.0,2,0
1,49,0,NAP,160,180,0,1,156,0,1.0,1,1
2,37,1,ATA,130,283,0,2,98,0,0.0,2,0
3,48,0,ASY,138,214,0,1,108,1,1.5,1,1
4,54,1,NAP,150,195,0,1,122,0,0.0,2,0

In [12]:
df_d = pd.get_dummies(df.ChestPainType)
df = pd.concat([df, df_d], axis=1)
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,ASY,ATA,NAP,TA
0,40,1,ATA,140,289,0,1,172,0,0.0,2,0,0,1,0,0
1,49,0,NAP,160,180,0,1,156,0,1.0,1,1,0,0,1,0
2,37,1,ATA,130,283,0,2,98,0,0.0,2,0,0,1,0,0
3,48,0,ASY,138,214,0,1,108,1,1.5,1,1,1,0,0,0
4,54,1,NAP,150,195,0,1,122,0,0.0,2,0,0,0,1,0

In [13]:
df.drop('ChestPainType', axis =1, inplace=True)
df.head()

,Age,Sex,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,ASY,ATA,NAP,TA
0,40,1,140,289,0,1,172,0,0.0,2,0,0,1,0,0
1,49,0,160,180,0,1,156,0,1.0,1,1,0,0,1,0
2,37,1,130,283,0,2,98,0,0.0,2,0,0,1,0,0
3,48,0,138,214,0,1,108,1,1.5,1,1,1,0,0,0
4,54,1,150,195,0,1,122,0,0.0,2,0,0,0,1,0

In [14]:
df.describe()

,Age,Sex,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,ASY,ATA,NAP,TA
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,0.789760,132.396514,198.799564,0.233115,0.989107,136.809368,0.404139,0.887364,1.361656,0.553377,0.540305,0.188453,0.221133,0.050109
std,9.432617,0.407701,18.514154,109.384145,0.423046,0.631671,25.460334,0.490992,1.066570,0.607056,0.497414,0.498645,0.391287,0.415236,0.218289
min,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,60.000000,0.000000,-2.600000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.000000,1.000000,120.000000,173.250000,0.000000,1.000000,120.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,54.000000,1.000000,130.000000,223.000000,0.000000,1.000000,138.000000,0.000000,0.600000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
75%,60.000000,1.000000,140.000000,267.000000,0.000000,1.000000,156.000000,1.000000,1.500000,2.000000,1.000000,1.000000,0.000000,0.000000,0.000000
max,77.000000,1.000000,200.000000,603.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [15]:
#RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak

In [16]:
z_RestingBP = (df.RestingBP - df.RestingBP.mean())/df.RestingBP.std()

In [17]:
df = df[(z_RestingBP<3) & (z_RestingBP>-3)]
df.shape

(910, 15)

In [18]:
z_Cholesterol = (df.Cholesterol - df.Cholesterol.mean())/df.Cholesterol.std()

In [19]:
df = df[(z_Cholesterol<3) & (z_Cholesterol>-3)]
df.shape

(907, 15)

In [20]:
z_FastingBS = (df.FastingBS - df.FastingBS.mean())/df.FastingBS.std()

In [21]:
df = df[(z_FastingBS<3) & (z_FastingBS>-3)]
df.shape

(907, 15)

In [22]:
z_MaxHR = (df.MaxHR - df.MaxHR.mean())/df.MaxHR.std()

In [23]:
df = df[(z_MaxHR<3) & (z_MaxHR>-3)]
df.shape

(906, 15)

In [24]:
z_Oldpeak = (df.Oldpeak - df.Oldpeak.mean())/df.Oldpeak.std()

In [25]:
df = df[(z_Oldpeak<3) & (z_Oldpeak>-3)]
df.shape

(899, 15)

In [26]:
df.head()

,Age,Sex,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,ASY,ATA,NAP,TA
0,40,1,140,289,0,1,172,0,0.0,2,0,0,1,0,0
1,49,0,160,180,0,1,156,0,1.0,1,1,0,0,1,0
2,37,1,130,283,0,2,98,0,0.0,2,0,0,1,0,0
3,48,0,138,214,0,1,108,1,1.5,1,1,1,0,0,0
4,54,1,150,195,0,1,122,0,0.0,2,0,0,0,1,0

In [27]:
df.shape

(899, 15)

In [28]:
X = df.drop('HeartDisease', axis = 1)
y = df.HeartDisease

In [29]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [30]:
X_scaled = sc.fit_transform(X)

In [31]:
X_scaled

array([[-1.42815446,  0.515943  ,  0.46590022, ...,  2.06332497,
        -0.5349047 , -0.22955001],
       [-0.47585532, -1.93819859,  1.63471366, ..., -0.48465463,
         1.86949191, -0.22955001],
       [-1.7455875 ,  0.515943  , -0.1185065 , ...,  2.06332497,
        -0.5349047 , -0.22955001],
       ...,
       [ 0.3706328 ,  0.515943  , -0.1185065 , ..., -0.48465463,
        -0.5349047 , -0.22955001],
       [ 0.3706328 , -1.93819859, -0.1185065 , ...,  2.06332497,
        -0.5349047 , -0.22955001],
       [-1.63977649,  0.515943  ,  0.34901888, ..., -0.48465463,
         1.86949191, -0.22955001]])

In [32]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=30)

In [33]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier()
rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.8611111111111112

In [34]:
from sklearn.decomposition import PCA
p = PCA(10)

In [35]:
X_pca = p.fit_transform(X)
X_pca

array([[ 9.31299071e+01, -2.96784334e+01,  1.09514947e+01, ...,
        -2.72331070e-01,  3.73241753e-01, -1.69432769e-02],
       [-1.63381282e+01, -1.48069243e+01,  3.10889428e+01, ...,
         7.20062580e-01,  7.90705095e-02, -3.06914061e-01],
       [ 8.26690753e+01,  3.89124414e+01, -1.47864328e+01, ...,
        -4.00556949e-01,  3.86305656e-01,  1.57502333e-01],
       ...,
       [-6.82262910e+01,  1.76977530e+01, -4.33353369e+00, ...,
        -5.65684713e-02, -1.29018553e-01, -4.12465734e-01],
       [ 4.00275518e+01, -3.34756658e+01,  5.35581480e+00, ...,
         1.57155329e-01,  1.14624960e+00, -5.57091794e-01],
       [-2.06121390e+01, -3.76170969e+01,  1.21582958e+01, ...,
         4.22214962e-01, -6.55965469e-01,  3.67724945e-02]])

In [36]:
X_pca.shape

(899, 10)

In [37]:
from sklearn.model_selection import train_test_split
X_train_pca, X_test_pca, y_train_pca, y_test_pca = train_test_split(X_pca, y, test_size=0.2, random_state=30)

In [38]:
rf.fit(X_train_pca, y_train_pca)
rf.score(X_test_pca, y_test_pca)

0.8555555555555555